{{! will store the about the creators page information }}

<div class="container">
  <div class="aboutContent">
    <h3 class="center-align">Meet The Team</h3>
  </div>
</div>

<h1>Who are we?</h1>
 <p> Ever feel like you stressed and don't know how to unstress? <br>
 feel like there is so much going on around and need time for your self? <br>
 Many proponents of mediation and breathing exercising suggest trying a method of mediation called Boxed Breathing.
 Box breathing, also known as square breathing, is a technique used when taking slow, deep breaths. It can heighten performance and concentration while also being a powerful stress reliever. It’s also called four-square breathing.
 </p>

<!-- //meet the team cards -->
<h3>Meet the Team</h3>

<div class="col s6">
  <div class="cardo">
    <div class="profileContainer">
      <h6>Nigel LaRue</h6>
      <p class="title">Developer</p>
      <p>Fun Fact: You can find me at BlackSwan Yoga on Lovers at 8:30 am every Sunday.</p>
      <p>Favorite way to destress: I like to jam to Spotify and do yard work.</p>
    </div>
  </div>
</div>

<div class="col s6">
  <div class="cardo">
    <div class="profileContainer">
      <h6>Bryant Huynh</h6>
      <p class="title">Developer</p>
      <p>Fun Fact: I have a Corgi and a Shiba-Inu.</p>
      <p>Favorite way to destress: I like going to the gym.</p>
    </div>
  </div>
</div>

<div class="col s6">
  <div class="cardo">
    <div class="profileContainer">
      <h6>Lin Gamliel</h6>
      <p class="title">Developer</p>
      <p>Fun Fact: Studied abroad two years.</p>
      <p>Favorite way to destress: Listening to music.</p>
    </div>
  </div>
</div>