  <div class="flex-column justify-space-around">
    
<main class="container container-fluid mt-5">
{{!-- Timer HTML --}}
  <div class="container">
  <h1 id="title">Boxed Breathing

    <span id="snapTo"><i  class="fas fa-info-circle"></i></span>

</h1><hr>
  <span class="controls" id="timer">00:00</span>
  <span class="controls" id="rounds">Sets</span>
  <div class="relax">
    <p id="breath"></p>
  </div>
  <div style="position: absolute; left: 50%; top: 120px;">
  <button id="start" class="btn btn-info">Begin Session</button>
  </div>
  </div>
  <p> 5 second inhale, hold the breath at the "top" for 5 seconds, exhale for 5 seconds, then hold your empty breath for 5 seconds before starting another round.</p></p>
  <script src="/js/timer.js"></script>
 {{!-- {{/if}} --}}
</main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}