body {
background-image: url("https://burst.shopifycdn.com/photos/lakeside-cliffs-and-blue-sky.jpg?width=1200&format=pjpg&exif=1&iptc=1");   
 background-size: cover;
 min-height: 279.200px;
 min-width: 100px;
}