body {
  height: 100%;
  }
  
  body {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  overflow: hidden;
  }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 500px;
}